<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Blog Standard</h1>
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="active">Standard</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog
    ============================================= -->
<div class="blog-area full-blog blog-standard full-blog default-padding">
    <div class="container">
        <div class="row">
            <div class="blog-items">
                <div class="blog-content col-md-10 col-md-offset-1">
                    <div class="content-items">

                        <!-- Single Item -->
                        <div class="single-item">
                            <div class="item">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="assets/img/1500x700.png" alt="Thumb">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fas fa-user"></i> Admin</a>
                                            </li>
                                            <li><i class="fas fa-calendar-alt"></i> 14 Jun, 2020</li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <div class="tags">
                                            <a href="#">Event</a>
                                            <a href="#">Education</a>
                                        </div>
                                        <h4>
                                            <a href="#">Inquietude assistance precaution any impression man sufficient.</a>
                                        </h4>
                                        <p>
                                            Required is debating extended wondered as do. New get described applauded incommode shameless out extremity but. Resembled at perpetual no believing is otherwise sportsman. Is do he dispatched cultivated travelling astonished. Melancholy am considered
                                            possession on collecting everything.
                                        </p>
                                        <a href="#"><i class="fas fa-plus"></i> Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="single-item">
                            <div class="item">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="assets/img/1500x700.png" alt="Thumb">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fas fa-user"></i> Admin</a>
                                            </li>
                                            <li><i class="fas fa-calendar-alt"></i> 17 Jul, 2020</li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <div class="tags">
                                            <a href="#">Course</a>
                                            <a href="#">Project</a>
                                        </div>
                                        <h4>
                                            <a href="#">Discourse Ye Continued Pronounce We Particular Use Abilities.</a>
                                        </h4>
                                        <p>
                                            Required is debating extended wondered as do. New get described applauded incommode shameless out extremity but. Resembled at perpetual no believing is otherwise sportsman. Is do he dispatched cultivated travelling astonished. Melancholy am considered
                                            possession on collecting everything.
                                        </p>
                                        <a href="#"><i class="fas fa-plus"></i> Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="single-item">
                            <div class="item">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="assets/img/1500x700.png" alt="Thumb">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fas fa-user"></i> Admin</a>
                                            </li>
                                            <li><i class="fas fa-calendar-alt"></i> 28 Aug, 2020</li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <div class="tags">
                                            <a href="#">Learn</a>
                                            <a href="#">Process</a>
                                        </div>
                                        <h4>
                                            <a href="#">Deficient Discourse Do Newspaper Be An Eagerness Continued.</a>
                                        </h4>
                                        <p>
                                            Required is debating extended wondered as do. New get described applauded incommode shameless out extremity but. Resembled at perpetual no believing is otherwise sportsman. Is do he dispatched cultivated travelling astonished. Melancholy am considered
                                            possession on collecting everything.
                                        </p>
                                        <a href="#"><i class="fas fa-plus"></i> Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                    <!-- End Blog Items -->

                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-md-12 pagi-area">
                            <nav aria-label="navigation">
                                <ul class="pagination">
                                    <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->