<!-- Reset Paasword 
    ============================================= -->
<div class="login-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

                    <div class="login-custom">
                        <div class="heading">
                            <h4><i class="fas fa-sign-in-alt"></i>Forget Your Password</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Current Password*" type="password" formControlName="currentPassword">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <input class="form-control" placeholder="New Password*" type="password" formControlName="newPassword">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirm Password*" type="password" formControlName="confirmPassword">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Reset Area -->