<!-- Preloader Start -->
<div class="se-pre-con"></div>
<!-- Preloader Ends -->

<!-- Header 
   ============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default active-bg navbar-fixed dark no-background bootsnav">

        <!-- Start Top Search -->
        <div class="container">
            <div class="row">
                <div class="top-search">
                    <div class="input-group">
                        <form action="#">
                            <input type="text" name="text" class="form-control" placeholder="Search">
                            <button type="submit">
                                   <i class="fas fa-search"></i>
                               </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <div class="container">

            <!-- Start Atribute Navigation -->
            <div class="attr-nav inc-btn">
                <ul>
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                       <i class="fa fa-bars"></i>
                   </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" class="logo" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-left" data-in="#" data-out="#">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home Version One</a></li>
                            <li><a routerLink="/home2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home Version Two</a></li>
                            <li><a href="index-3.html">Home Version Three</a></li>
                            <li><a href="index-4.html">Home Versikson Four</a></li>
                            <li><a href="index-5.html">Home Version Five</a></li>
                            <li><a href="index-6.html">Home Version Six</a></li>
                            <li><a href="index-7.html">Home Version Seven</a></li>
                            <li><a href="index-8.html">Home Version Eight</a></li>
                            <li><a href="index-9.html">Home Version Nine</a></li>
                            <li><a href="index-10.html">Home Version Ten</a></li>
                            <li><a href="index-op.html">Home Onepage</a></li>
                            <li><a href="index-op-2.html">Home Onepage Two <span class="badge">New</span></a></li>
                            <li><a href="index-op-3.html">Home Onepage Three <span class="badge">New</span></a></li>
                            <li><a href="index-op-4.html">Home Onepage Four <span class="badge">New</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About Us</a></li>
                            <li><a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery</a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/gallery-grid-colum" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Grid Colum</a></li>
                                    <li><a routerLink="/gallery-masonary-colum" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Masonary Colum</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a></li>
                            <li><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Register</a></li>
                            <li><a routerLink="/error-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Error Page</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/courses-grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Course Grid</a></li>
                            <li><a routerLink="/courses-carousel" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Course Carousel</a></li>
                            <li><a routerLink="/course-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Course Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Teachers</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/advisor-carousel" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Advisor Carousel</a></li>
                            <li><a routerLink="/advisor-grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Advisor Grid</a></li>
                            <li><a routerLink="/advisor-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Advisor Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Event</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/event1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Event Version One</a></li>
                            <li><a routerLink="/event2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Event Version Two</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/blog-standard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Blog Standard</a></li>
                            <li><a routerLink="/blog-left-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Blog Left Sidebar</a></li>
                            <li><a routerLink="/blog-right-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Blog Right Sidebar</a></li>
                            <li><a routerLink="/blog-single" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Blog Single Standard</a></li>
                            <li><a routerLink="/blog-single-left-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Single Left Sidebar</a></li>
                            <li><a routerLink="/blog-single-right-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Single Right Sidebar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->