<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Latest Event</h1>
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#">Page</a></li>
                    <li class="active">Event</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Event 
    ============================================= -->
<div class="event-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="event-items">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="col-md-5 thumb" style="background-image: url(assets/img/800x600.png);"></div>
                        <div class="col-md-7 info">
                            <div class="info-box">
                                <div class="date">
                                    <strong>16</strong> Apr, 2020
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="#">Social Science & Humanities</a>
                                    </h4>
                                    <ul>
                                        <li><i class="fas fa-clock"></i> 8:00 - 16:00</li>
                                        <li><i class="fas fa-map-marked-alt"></i> California, TX 70240</li>
                                    </ul>
                                    <p>
                                        Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                    </p>
                                    <div class="bottom">
                                        <a href="#" class="btn circle btn-dark border btn-sm">
                                            <i class="fas fa-chart-bar"></i> Book Now
                                        </a>
                                        <a href="#">
                                            <i class="fas fa-ticket-alt"></i> 126 Available
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="col-md-5 thumb" style="background-image: url(assets/img/800x600.png);"></div>
                        <div class="col-md-7 info">
                            <div class="info-box">
                                <div class="date">
                                    <strong>08</strong> Jul, 2020
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="#">Secondary Schools United Nations</a>
                                    </h4>
                                    <ul>
                                        <li><i class="fas fa-clock"></i> 10:00 - 14:00</li>
                                        <li><i class="fas fa-map-marked-alt"></i> California, TX 70240</li>
                                    </ul>
                                    <p>
                                        Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                    </p>
                                    <div class="bottom">
                                        <a href="#" class="btn circle btn-dark border btn-sm">
                                            <i class="fas fa-chart-bar"></i> Book Now
                                        </a>
                                        <a href="#">
                                            <i class="fas fa-ticket-alt"></i> 58 Available
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="col-md-5 thumb" style="background-image: url(assets/img/800x600.png);"></div>
                        <div class="col-md-7 info">
                            <div class="info-box">
                                <div class="date">
                                    <strong>19</strong> Aug, 2020
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="#">International Conference on Art Business</a>
                                    </h4>
                                    <ul>
                                        <li><i class="fas fa-clock"></i> 11:00 - 19:00</li>
                                        <li><i class="fas fa-map-marked-alt"></i> California, TX 70240</li>
                                    </ul>
                                    <p>
                                        Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth.
                                    </p>
                                    <div class="bottom">
                                        <a href="#" class="btn circle btn-dark border btn-sm">
                                            <i class="fas fa-chart-bar"></i> Book Now
                                        </a>
                                        <a href="#">
                                            <i class="fas fa-ticket-alt"></i> 256 Available
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->

                </div>
            </div>
            <div class="more-btn col-md-12 text-center">
                <a href="#" class="btn btn-theme effect btn-md">View All Events</a>
            </div>
        </div>
    </div>
</div>
<!-- End Event -->